{% extends 'layout/admin_layout.html' %}
{% load static %}
{% block dash %}
    active
{% endblock %}
{% block page_title %}
    <h3>Approve Deletions</h3>
{% endblock %}
{% block css %}
    <link href="{% static 'vendors/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="{% static 'vendors/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendors/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
{% endblock %}
{% block add %}

{% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="list-group-flush">
                        <div class="list-group-item">
                            <ul>
                                {% for batch in batch %}
                                    <li>
                                        <h3>{{ batch.batch_id }}</h3>
                                        <div class="float-right">
                                            <a href="{% url 'stock_system:batch-details' batch.id %}" class="btn btn-primary btn-outline">View Details</a>
                                        </div>
                                    </li>
                                        <h3>You currently have no delete requests to approve</h3>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}