{% extends 'layout/admin_layout.html' %}
{% load static   %}
{% load bootstrap4 %}
{% block return %}
    active
{% endblock %}
{% block add %}
{% endblock %}
{% block page_title %}
    <h3>Returns</h3>
{% endblock %}
{% block css %}
    <link href="{% static 'vendors/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="{% static 'vendors/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendors/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
{% endblock %}
{% block contents %}

    <div class="table-responsive mt-5"  >
        <table class="table table-bordered" id="dataTable">
            <thead>
            <tr>
                <th>Band</th>
                <th>Number of returns (Units)</th>
                <th>Reason</th>
                <th>Date Returned</th>
                <th>Received By</th>
            </tr>
            </thead>
            <tbody>
            {% for return in returns %}
            <tr>
                <td>{{ return.brand }}</td>
                <td>{{ return.number }}</td>
                <td>{{ return.reason }}</td>
                <td>{{ return.date_returned.date }}</td>
                <td>{{ return.received_by }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="mt-5 float-right">
        <a href="{% url 'stock_system:stock_page' %}" class="btn btn-success">Done</a>
    </div>

{% endblock %}