{% extends 'layout/admin_layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% block css %}
    <link href="{% static 'vendors/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block stock %}
    active
{% endblock %}
{% block page_title %}
    <h3>Stock</h3>
{% endblock %}
{% block add %}
    <form action="{% url 'stock_system:batch_list' %}" method="post">{% csrf_token %}
        <button class="btn-sm btn btn-outline" type="submit" >
            <i class=" mdi mdi-albums" title="Previous Batches"> Batches</i>
        </button>
    </form>
{% endblock %}
{% block contents %}

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                    <th>Brand</th>
                    {#                    <th>Number of boxes of received</th>#}
                    {#                    <th>Number of units in box</th>#}
{#                    <th>Total units accumulated</th>#}
                    <th>Current Stock Number</th>
                    <th>Units Dispatched</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                {% for br in stock %}
                    <tr>
                        <td>{{ br.batch_item.brand.name}} | {{ br.batch_item.brand.item }}</td>
                        {#                    <td>{{ br.batch_item.boxes_received }}</td>#}
                        {#                    <td>{{ br.batch_item.units_per_box }}</td>#}
{#                        <td>{{ br.no_units_available }}</td>#}
                        <td>{% if br.no_units_left %}{{ br.no_units_left }}{% else %}{{ br.no_units_available }}{% endif %}</td>
                        <td>{% if br.no_units_dispatched %}{{ br.no_units_dispatched }}{% else %}No Dispatch Yet{% endif %}</td>
                        <td>
                            <a href="{% url 'stock_system:dispatch_stock' br.id %}" class="btn btn-outline btn-primary"> View</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vendors/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendors/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
{% endblock %}