{% extends 'layout/admin_layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% block css %}
    <link href="{% static 'vendors/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block stock %}
    active
{% endblock %}
{% block page_title %}
    <h3>Stock</h3>
{% endblock %}
{% block add %}
    {% for brand in brands %}
        {% if  brand.no_available <= brand.reorder_lvl %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reorderBackdrop">
                Restock
            </button>
        {% endif %}
    {% endfor %}

{% endblock %}
{% block contents %}
    <div class="modal fade" id="reorderBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Items to restock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>These are items that are equal or below restock level</h6>
                    <hr>
                    {% for brand in brands %}
                        {% if brand.no_available <= brand.reorder_lvl %}
                            <ul>
                                <li><b class="text-danger">{{ brand.name }} || {{ brand.item }}</b></li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'stock_system:batch_list' %}" class="btn btn-primary" title="Proceed to add items">Create a new batch</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr>
                    <th>Brand</th>
                    <th>Current Stock Number</th>
                    <th>Units Dispatched</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                {% for br in brands %}
                    <tr>
                        <td>{{ br.name}} | {{ br.item }}</td>
                        <td class="{% if br.no_available <= br.reorder_lvl %}text-danger{% endif %}">{{ br.no_available }}</td>
                        <td>{% if br.no_units_dispatched %}{{ br.no_units_dispatched }}{% else %}No Dispatch Yet{% endif %}</td>
                        <td>
                            <a href="{% url 'stock_system:dispatch_stock' br.id %}" class="btn btn-outline btn-primary"> View</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vendors/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'vendors/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
{% endblock %}